#root {
  /*  
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Ancho de la barra */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* Estilos de la barra */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 10px;
}

/* Estilos del fondo de la barra */
.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Ocultar el ícono nativo de date */
.custom-date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-date-input::-webkit-inner-spin-button,
.custom-date-input::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

/* Ocultar el ícono nativo pero mantenerlo clickeable */
.custom-time-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-time-input::-webkit-clear-button,
.custom-time-input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

/* para los inputs con iconos añadidos de calendario y reloj */
/* Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* negro → blanco */
  cursor: pointer;
  opacity: 0.9;
  position: absolute;
  right: 8px; /* margen desde el borde derecho */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Firefox */
input[type="date"]::-moz-calendar-picker-indicator,
input[type="time"]::-moz-calendar-picker-indicator {
  filter: invert(1);
}

/* Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 8px; /* margen desde el borde derecho */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Firefox todavía no deja reposicionar, pero respeta el color */
input[type="date"]::-moz-calendar-picker-indicator,
input[type="time"]::-moz-calendar-picker-indicator {
  filter: invert(1);
}
